body{
    align-items: center;
    padding: 2%;
    padding-top: 0.25cm;
    text-align: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

span{
    font-weight: bold;
}
